@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap");
@import "variables.scss";
@import "breakpoints.scss";
@import "header.scss";
@import "banner.scss";
@import "navigation.scss";
@import "projects.scss";
@import "resume.scss";
@import "about.scss";
@import "chat.scss";
@import "footer.scss";
@import "components/projectElement.scss";

body,
html {
  user-select: none;
  background: $backWhite;
  overscroll-behavior: none;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "DM Sans", sans-serif;
}
.emojifont {
  font-family: "Noto Color Emoji", sans-serif;
}

.app {
  margin-left: 50px;
  margin-right: 50px;
  @include media("<=phone") {
    margin-left: 10px;
    margin-right: 10px;
  }
}
