.chat {
  padding-bottom: 50px;
  padding-top: 50px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  .text {
    display: flex;
    gap: 50px;
    font-weight: 400;
    line-height: 130px;
    letter-spacing: 0em;
    overflow: hidden;
    white-space: nowrap;
    margin-left: -100px;
    margin-right: -50px;
    .talk {
      font-size: 100px;
      font-family: "DM Sans";
      text-align: left;
    }
    .emojis {
      font-size: 35px;
    }
  }
}
