.header {
    margin-top: 50px;
    .elements {
        justify-content: space-between;
        display: flex;
        .logo {
        }
        .start {
            align-self: flex-end;
            button {
                box-sizing: border-box;
                background-color: white;
                position: relative;
                width: 187px;
                height: 36px;
                z-index: 1;
                border: 1px solid #03559b;
                border-radius: 500px;

                line-height: 18px;
                a {
                    text-decoration: none;
                    font-family: "DM Sans";
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    letter-spacing: 0.1em;
                    text-transform: uppercase;
                    color: #03559b;
                }
            }
        }
    }
}
