.navigation {
    display: inline-block;
    margin-top: 200px;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding-bottom: 32px;
    .row {
        display: flex;
        justify-content: space-between;
        .inPage {
            display: flex;
            gap: 40px;
            .element {
                font-family: "DM Sans";
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 16px;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                color: $siteBlue;
                a {
                    text-decoration: none;
                }
            }
        }
        .external {
            display: flex;
            gap: 10px;
            .element {
                a {
                    svg {
                        width: 30px;
                        height: 30px;
                    }
                }
            }
        }
    }
}
